{% extends "student.html" %}
{% block contentsubheading %}Student - Questions - Completed - Display{% endblock %}
{% block studentcontent %}
    {% block squestioncontent %}
        {% block squestioncompletedcontent %}
            {% block displaycontent %}
            <form action="/sQuestions/Completed/Display" method="post">
                <dl>
                    <h2>{{question['title']}}</h2>
                    <p>{{question['desc']}}</p>
                    <h4>Choices:</h4>
                    <dd>
                        {% if answer['id'] == 1 %}
                        <input type="radio" name="choices" value="c_1" checked>{{question['c_1']}}<br>
                        {% else %}
                        <input type="radio" name="choices" value="c_1" disabled>{{question['c_1']}}<br>
                        {% endif %}

                        {% if answer['id'] == 2 %}
                        <input type="radio" name="choices" value="c_2" checked>{{question['c_2']}}<br>
                        {% else %}
                        <input type="radio" name="choices" value="c_2" disabled>{{question['c_2']}}<br>
                        {% endif %}

                        {% if answer['id'] == 3 %}
                        <input type="radio" name="choices" value="c_3" checked>{{question['c_3']}}<br>
                        {% else %}
                        <input type="radio" name="choices" value="c_3" disabled>{{question['c_3']}}<br>
                        {% endif %}

                        {% if answer['id'] == 4 %}
                        <input type="radio" name="choices" value="c_4" checked>{{question['c_4']}}<br>
                        {% else %}
                        <input type="radio" name="choices" value="c_4" disabled>{{question['c_4']}}<br>
                        {% endif %}
                    </dd>
                    <p><strong>Puntuation</strong> 1</p>
                </dl>
              <a href="{{afterSave}}">Back</a>
            </form>
            {% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}