{% extends "student.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Student - Questions - Completed{% endblock %}
{% block studentcontent %}
    {% block squestioncontent %}
        {% block squestioncompletedcontent %}
        <table class="fillwidth highlightrows">
            <tbody>
                <tr>                    
                    <th class="alignleft">Completed Questions</th>
                    <th class="aligncenter">Puntuation</th>
                    <th></th>
                    <th class="alignright"></th><th></th>
                </tr>
                {% for i in arrayCompleted %}
                    <tr class="highlightable">
                        <td class="alignleft">{{ i['title'] }}</td>
                        <td class="aligncenter">{{ i['puntuation'] }}</td>
                        <td class="alignright">{{ button('redbg', '/sQuestions/completed/display?afterSave=/sQuestions&title=' + i['title'], 'Display') }}</td>                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}
    {% endblock %}
{% endblock %}