{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Teachers panel - Questions{% endblock %}
{% block teachercontent %}
    {% block tquestioncontent %}
    <h2><a href="tQuestions/create">Create a new question</a></h2>
    <br/>
    <h4>Questions:</h4>
    {% for i in arrayQuestions %}
        <tr>
            <td>{{ i['title'] }}</td>
            <td>{{ button('redbg', '/tQuestions/modify?afterSave=/home&qid=' + i['qid'], 'Modify') }}</td>
            <td>{{ button('redbg', '/tQuestions/display?afterSave=/tQuestions&qid=' + i['qid'], 'Display') }}</td>
            <br/>
        </tr>
    {% endfor %}

    {% endblock %}
{% endblock %}