{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Teacher - Questions - Create{% endblock %}
{% block teachercontent %}
    {% block tquestioncontent %}
        {% block tquestioncreatecontent %}
        <form action="/tQuestions/create" method="post">
            <h3>Title</h3>
                <input type="text" name="title" />
            <h3>Description</h3>
                <input type="text" name="desc" />
            <h3>Choices</h3>
                <input type="text" name="c_1"  /> <br/>
                <input type="text" name="c_2"  /><br/>
                <input type="text" name="c_3" /><br/>
                <input type="text" name="c_4" /><br/>
            <h3>Correct choice (index)</h3>
                <input type="number" name="c_right" max="4" min="1"/>
             <h3>Puntuation</h3>
                 <input type="number" name="puntuation" min="0" step="0.10"/>
             <h3>Penalization</h3>
                 <input type="number" name="penalization" max="0" step="0.10"/>
             <br/><br/>
             {{submit_button('redbg', 'Save')}}
             <br/><br/>
             <a href="/tQuestions">Cancel</a>
        </form>
        {% endblock %}
    {% endblock %}
{% endblock %}