{% extends "teacher.html" %}
{% from "macros/buttons.html" import button, submit_button %}
{% block contentsubheading %}Teacher - Questions - Progression{% endblock %}
{% block teachercontent %}
    {% block questionprogressioncontent %}
    <table>
        <tbody>
            <tr>
                <td>Title</td>
                <td>{{statistics['title']}}</td>
            </tr>
            <tr>
                <td>Answers</td>
                <td>{{statistics['n_answers']}}</td>
            </tr>
            <tr>
                <td>AVG</td>
                <td>{{statistics['avg']}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Choice 1</td>
                <td>{{statistics['n_c1']}}</td>
            </tr>
            <tr>
                <td>Choice 2</td>
                <td>{{statistics['n_c2']}}</td>
            </tr>
            <tr>
                <td>Choice 3</td>
                <td>{{statistics['n_c3']}}</td>
            </tr>
            <tr>
                <td>Choice 4</td>
                <td>{{statistics['n_c4']}}</td>
            </tr>
        </tbody>
    </table>
    {% endblock %}
    {% endblock %}